* {
  outline: none;
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}
section {
  padding: 0px;
}

/* GREEN-BLOCK */
#green-block {
  background: #58b792;
  margin: center;
}

#green-block .row {
  height: 900px;
  width: 1296px;
}

#green-block .green-text {
  color: #fff;
  padding: 50px;
}

#green-block h1 {
  font-size: 2em;
}

#green-block img {
  width: 90%;
  padding-top: 182px;
}
